body{
  font-family: 'Outfit';
  font-size: 15px;
  text-align: center;
}

p{
  color: hsl(220, 15%, 55%);
}
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  .container{
    display: inline-block;
    position: relative;
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 470px;
    border-radius: 15px;
    margin: 150px auto;
  }

  .desc1{
    color: black;
    display: inline-block;
    position: relative;
    font-size: 1.3125em;
    font-weight: 700;
    margin: 0px 30px;
  }
  .desc2{
    display: inline-block;
    position: relative;
    padding: 0 25px;
    font-weight: 400;
    margin: 15px auto;
  }

  .qrcode{
    border-radius: 25px;
    width: 270px;
    height: 270px;
    padding: 15px;
  }
